# ML CodeLab 01 - Python 01

## Text 

- line text pada python menggunakan bahasa markup
- more about markup languange : [link](https://www.petanikode.com/markdown-pemula/)

In [ ]:
# Judul
## Sub Judul

isi

**bold text**

*italic text*

## Sifat sintaks Python

- case sensitive
- using indentasi for blok program
- run code line by line

- more : [link](https://www.dqlab.id/belajar-python-dengan-mematuhi-aturan-penulisan-sintaks)

In [ ]:
#run code line sequentially

print("   /|")
print("  / |")
print(" /  |")
print("/___|")
print('\n')

#cas sensitive

print("aswin"=="Aswin")

#indetasi

def cetakNama() :
  print("\naswin")

cetakNama()

   /|
  / |
 /  |
/___|


False

aswin

## Variabel dan Tipe Data

- variabel : tempat penyimpanan data
- Tipe data : jenis data yang tersimpan dalam variabel
- Tipe data python terdiri atas: 
  - Numbers (int,float,complex)
  - Strings
  - Boolean
  - Array ( Tuple, List, Set, Dictionary)

<br>

- lebih lanjut tentang variabel,syarat variabel,dan tipe data : [link](https://www.petanikode.com/python-variabel-dan-tipe-data/)

In [1]:
#Numbers
var1 = 1
var2 = 1.5
var3 = 2+2j

#String
var4 = "Aswin"

#Boolean
var5 = True

#Array
var6 = (1,1.5,"aswin")
var7 = [1,1.5,"aswin"]
var8 = {1,1.5,"aswin"}
var9 = {
    "int" : 1,
    "float" : 1.5, 
    "string": "aswin"
    }

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print('\n')
print(type(var6))
print(type(var7))
print(type(var8))
print(type(var9))

print("\n")

#konversi type data
print(type(var2))
print(type(int(var2)))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>


<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>


<class 'float'>
<class 'int'>

### Float is weird

- python tidak precise datanya

In [ ]:
print (1.1+2.2 == 3.3)
print (1.1+2.2)

False
3.3000000000000003

In [ ]:
# Solution

a = 1.1
b = 2.2
tolerance = 0.000001
print(abs(3.3 - (a + b)) < tolerance)

True

### List Operation

In [ ]:
var10 = ["A", "B", "C" ]
var11 = [True,False,[1,2]]
var12 = "AB"

#menampilkan element tertentu  
print(var10[0])

#duplikasi list sebanyak n 
print(var10*2)

#concatenate list (merge list)
print(var10+var11)

#menambahkan isi otomatis di last posisition
var10.append(var11)
print(var10)

#menggabungkan isi otomatis di last posisition
var10.extend(var11)
print(var10)

#menambahkan isi pada posisi tertentu
var10.insert(0,var12)
print(var10)
 
#menghapus data tertentu dari list
var10.remove(var11)
print(var10)
 
#mengetahui posisi data pada list
print(var10.index("C"))

#mengeluarkan data tertentu dari list dan return dalam variabel
var13 = var10.pop(1)
print(var13)

#menghapus semua data dari list
var10.clear()
print(var10)

var14 = [1,3,4,2]
var15 = ['z','c','f','g','h']

print('\n')

#mengurutkan data pada list
var14.sort()
var15.sort() 
print(f"{var14}\n{var15}")

var14.reverse() 
print(var14)

#menghitung pangjang list
len(var14)

#mengetahui nilai max dan min
print(f"min : {min(var14)} \nmax : {max(var14)}")

#menghitung berapa kali suatu objek muncul
var16 = ['a','a', 'ab', 'ac', 'ad']
print(var16.count('a'))

A
['A', 'B', 'C', 'A', 'B', 'C']
['A', 'B', 'C', True, False, [1, 2]]
['A', 'B', 'C', [True, False, [1, 2]]]
['A', 'B', 'C', [True, False, [1, 2]], True, False, [1, 2]]
['AB', 'A', 'B', 'C', [True, False, [1, 2]], True, False, [1, 2]]
['AB', 'A', 'B', 'C', True, False, [1, 2]]
3
A
[]


[1, 2, 3, 4]
['c', 'f', 'g', 'h', 'z']
[4, 3, 2, 1]
min : 1
max : 4
2

In [ ]:
#perbedaan extend dan append 

#terletak ketika menambahkan objek array, extend mengekstrak isinya lalu di input sedangkan append tidak
#[a,b,[true,false]] vs [a,b,true,false] selain itu,

var19 = [1,2]
var20 = [1,2]
var21 = [True,False]

var19.extend(var21)
var20.append(var21)

print(var19)
print(var20)

print('\n')

#extend mengektrak string juga sedang append tidak
var = "asw"
var17 = ['1','2']
var18 = ['1','2']

var17.extend(var)
var18.append(var)

print(var17)
print(var18)

[1, 2, True, False]
[1, 2, [True, False]]


['1', '1', '2', 'a', 's', 'w']
['1', '2', 'asw']
2

link : [perbedaan append dan extend](https://www.pengembangan-web-mp-pd.com/id/python/perbedaan-antara-metode-daftar-append-vs.-extended-dalam-python/958525007/#:~:text=extended%20dalam%20Python,-Apa%20perbedaan%20antara&text=append%20%3A%20Menambahkan%20objek%20di%20akhir.&text=extend%20%3A%20Memperpanjang%20daftar%20dengan%20menambahkan%20elemen%20dari%20iterable.)

### String Formatting

- formatting + (only str to str)
- formatting %
- formatting str
- formatting f-string

<br>

- more about formatting : [link](https://realpython.com/python-string-formatting/)

In [ ]:
varName = "aswin"
varAge  = 25
varX = 1

print("(formatting +) Halo namaku \n\n"+varName) 

print("(formatting persen) Halo namaku %s umurku %s.\numur %s \n\n" % (varName, varAge, varAge))

print("(formatting str) Halo, namaku {nama}.\nUmurku {umur}.\n{nama} umur {umur} \n\n".format(nama = varName, umur = varAge))

print(f"(formatting f-str) Halo, namaku {varName}.\nUmurku {varAge}.\n{varName} next year my age is {varAge+varX}")

(formatting +) Halo namaku

aswin
(formatting persen) Halo namaku aswin umurku 25.
umur 1


(formatting str) Halo, namaku aswin.
Umurku 25.
aswin umur 25


(formatting f-str) Halo, namaku aswin.
Umurku 25.
aswin next year my age is 26

### String Operation

- ref : [link](https://www.w3schools.com/python/python_ref_string.asp)

In [ ]:
name = "AswiN"

#karena string juga bersifat array maka beberapa perintah list operation bisa kita pakai

print(len(name))
print(name[1:2])
print(name.index("w"))

print('\n')

#perintah string lainnya

print(name.upper())
print(name.lower())
print(name.isupper())
print(name.islower())

5
s
2


ASWIN
aswin
False
False

# Statement and Expression

- statement adalah sintaks pada bahasa pemrograman yg menyatakan aksi atau tugas yg dilakukan
- expression adalah sintaks yg menghasilkan nilai

In [ ]:
# = statement untuk membuat variabel 1
x = 1 

# + expression menjumlah dengan 1
x + 1

2

# Aritmatika Statement

In [ ]:
a = 4
b = 3
 
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b) #sisa pembagian

a+=b
print(a)

7
1
12
1.3333333333333333
1
7

## Comparing Statement

- logical operators ( + - > < >= <= )

In [ ]:
print(a == b)
print(a != b)
print(a < b)
print(a > b)

False
True
False
True

## Conditional Statement

- if
- else 
- elif (if else)

In [ ]:
a = 1
b = 2

#if
if(b > a ) :
  print ("b lebih besar a")

#else
if (a > b ) :
  print ("a lebih besar b")
else :
  print ("a lebih kecil b")

#elif
if (a > b ) :
  print ("a lebih besar b")
elif (a+1 == b) :
  print ("a+1 sama dengan b")
else :
  print ("a lebih kecil b")

b lebih besar a
a lebih kecil b
a+1 sama dengan b

## Looping Statement

- for
  - mulai dan selesai loop berdasarkan range 
- while
  - selama syaratnya terpenuhi ia akan terus loop

  - kita juga dapat menghentikan loopnya dengan perintah `break`
  - atau mengubah variabel syaratnya menjadi `false`
- nested

more about looping
- [for looping](https://www.w3schools.com/python/python_for_loops.asp#:~:text=A%20for%20loop%20is%20used,other%20object%2Dorientated%20programming%20languages.)
- [while looping](https://www.w3schools.com/python/python_while_loops.asp)

In [ ]:
#for
print('for looping')

buah = ["nanas", "apel", "jeruk", "mangga", "kiwi", "alpukat"]
for makanan in buah:
    print ("Saya suka makan", makanan)

print('\n')

#while
print('while looping')
 
i = 0

while buah[i] != 'kiwi':
  i += 1
  print(buah[i])

print('\n')

#nested

print('nested looping')

for j in range(3):
  for i in range(2):
    print(i, j)

for looping
Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk
Saya suka makan mangga
Saya suka makan kiwi
Saya suka makan alpukat


while looping
apel
jeruk
mangga
kiwi


nested looping
0 0
1 0
0 1
1 1
0 2
1 2

### Kontrol Looping

- break
- continue
- else after for

In [ ]:
print("continue control")

buah = ["nanas", "apel", "jeruk", "mangga", "kiwi", "alpukat"]

for makanan in buah:
    if (makanan == 'jeruk') : continue
    print ("Saya suka makan", makanan)


print("\n")

print("break control")

i = 0
while buah[i] != 'kiwi':
  if (buah[i] == 'jeruk') : break 
  i += 1
  print(buah[i])

continue control
Saya suka makan nanas
Saya suka makan apel
Saya suka makan mangga
Saya suka makan kiwi
Saya suka makan alpukat


break control
apel
jeruk

## Function & Lambda

In [ ]:
#deklarasi function
def perkenalan (nama, asal) :
  print(f"perkenalkan saya {nama}, dari {asal}")

#menggunakan function
perkenalan("aswin","makassar")

#lamda
varX = lambda nama,asal: print(f"perkenalkan saya {nama}, dari {asal}")

varX("aswin","makassar")

perkenalkan saya aswin, dari makassar
perkenalkan saya aswin, dari makassar

- lambda : memasukkan fungsi kedalam variabel

  - var = lambda params,paramsN : Function

- bedanya dengan function biasa adalah lambda digunakan jika fungsi sederhana dan singkat